extends layout

block content
    img(id = "webcam2" src= "http://localhost:3000/images/webcam2-1.jpg")
    h1= title
    p Welcome to #{title}
    script.
        setInterval(function () {
            
            var webcam2 = document.getElementById("webcam2");
            
                    if (webcam2.src === "http://localhost:3000/images/webcam2-1.jpg")
                            webcam2.src = "http://localhost:3000/images/webcam2-2.jpg"
                                 else if(webcam2.src === "http://localhost:3000/images/webcam2-2.jpg")
                                    webcam2.src = "http://localhost:3000/images/webcam2-3.jpg"
                                        else
                                            webcam2.src = "http://localhost:3000/images/webcam2-1.jpg"
                },
                5000);

