//
   Created by przemek on 09.08.16.

extends index

block content

    img(id = "webcam1" src= "http://localhost:3000/images/webcam1-2.jpg")
    h1= title
    p Welcome to #{title}
    script.
        setInterval ( function () {
            if ( document.getElementById("webcam1").src === "http://localhost:3000/images/webcam1-2.jpg")
                    document.getElementById( "webcam1").src = "http://localhost:3000/images/webcam1-3.jpg"
                        else
                            document.getElementById( "webcam1").src = "http://localhost:3000/images/webcam1-2.jpg"},
                                 5000);


